<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<%= render "shared/user_card", user: @user %>
<div class="bio box">
    <span>Bio</span>
    <p><%= @user.bio %></p>
</div>
<% @user.most_recent_posts.each do |post| %>
    <%= render "shared/post_preview", post: post %>
<% end %>
<div class="button">
    <%= link_to user_posts_path(@user) do %>
        <button>See  all posts</button>
    <% end %>
</div>