<div class="box">
    <div class="post-title title">
        <span><%= @post.title %> by <%= @post.author.name %></span>
        <div>
            <span>Comments: <%= @post.comments_counter %>, </span>
            <span>Likes: <%= @post.likes_counter %></span>
        </div>
    </div>
    <span><%= @post.text %></span>
    <div class="like-icon">
        <%= button_to user_post_likes_path(@post.author.id, @post), class:"like-button" do %>
            <i class="far fa-thumbs-up"></i>
        <% end %>
    </div>
</div>
<%= render "shared/comments", comments: @post.comments %>
<% if can? :manage, @post %>
   <%= button_to 'Delete Post', user_post_path, method: :delete%>
<% end %>